.container{
	width: 80%;
	margin: 30px;
	overflow: hidden;
}
.container ul li{
	list-style:none;	
	float: left;
	font: 10px/1.5 Verdana;
	width: 20%;
	margin: 2% 2% 40px 2%;
}
.container ul li a{
	color: #5d5f5d;	
	text-decoration: none;
}

/*100% - (5 * 4%) = 80%/5 = 16%*/

.container ul li a img{
	max-width: 100%;
}

/* Media Queries */

@media only screen and (min-width : 941px){
	.container ul li:nth-child(5n+1) {
	   clear:left;
	}
}

/*100% - (4 * 4%) = 84% / 4 = 21% */

@media only screen and (min-width: 721px) and (max-width : 941px){
	.container ul li{
		width: 21%;
   }
	.container ul li:nth-child(4n+1) {
	   clear:left;
	}
}

/*100% - (3 * 4%) = 88% / 3 = 29.33333% */

@media only screen and (min-width: 531px) and (max-width : 721px){
	.container ul li{
		width: 29.33333%;
   }
	.container ul li:nth-child(3n+1) {
	   clear:left;
	}
}

/*100% - (2 * 4%) = 92% / 2 = 46% */

@media only screen and (min-width: 320px) and (max-width : 531px){
	.container ul li{
		width: 46%;
   }
	.container ul li:nth-child(2n+1) {
	   clear:left;
	}
}

/*100% - 4% = 96% */

@media only screen and (max-width : 320px){
	.container ul li{
		width: 96%;
   }

}
